.App {
  text-align: center;  
  background-color: aquamarine;
}

.app-wrapper{
    background: aquamarine;
    height: 100vh;
}

.app-inner-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85vh;
}